<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GroupTestDemo">
	<test thread-count="1" name="ToolsQA">
		<groups>
			<run>
				<include name="Smoke"></include>
			</run>
		</groups>
		<classes>
			<class name="p2.SendValues_Without_SendKeysMethod" />
			

		</classes>
	</test> <!--
	Test -->
</suite> <!--
RegressionSuite -->
